@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    margin: 0px;
}

#contpreloader {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#limit) blur(0.6px);
}

#textpre1,
#textpre2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: "Bebas Neue", cursive;
    font-size: 80pt;

    text-align: center;

    user-select: none;
}